
main {
    padding: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}


html {
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid rgb(0, 0, 0) 1px;
    display: inline-block;
    cursor: pointer;
}

#blue {
    background: rgb(134, 128, 255);
}

#purple {
    background: rgb(216, 143, 243);
}

#green {
    background: rgb(125, 246, 145);
}

#yellow {
    background: rgb(254, 254, 131);
}




